body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    background-color: #ccc;
    background-image: url("edgar\ portfol1.png");
    background-size: cover;
}

* {
    box-sizing: border-box;
    word-break: break-word;
}

.container {
    margin: 45px auto;
    width: 70%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.tops, .flips {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.tops {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
}

.tops > div, .flips > div {
    float: left;
}

.floatEnd {
    clear: both;
}

.tops .introBox {
    width: 14%;
    height: 40px;
}

.introBox .intro {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    background: linear-gradient(-45deg, #e1ff9b88, #ff950088, #ee775288, #e73c7e88);
    background-size: 250%;
    background-position: left;    
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contacts {
    text-align: center;
    width: 84%;
    padding: 10px 0;
}

.contacts a {
    color: #333;
    text-decoration: none;
    padding: 6px;
    margin: 0 10px;
}

.contacts a:hover {
    background-color: #333;
    color: white;
    border-radius: 5px;
}
.contacts a img {
    width: 30px;
    vertical-align: middle;
}
.showing {
    display: block;
    width: 50%;
    border-radius: 5px;
}
.hidings > div:not(:first-child) {
    display: none;
}

.hidings {
    width: 75%;
    min-height: 275px;
    font-size: 1.1em;
    line-height: 1.6;
    padding-right: 20px;
}

.hidings img, .hidingsTitles img {
    display: block;
    width: 100%;
}

.hidingsTitles {
    width: 24%;
}

.hidingsTitles > button, .titlesTitle {
    display: block;
    width: 100%;
    font-size: 1.1em;
    cursor: pointer;
    background: linear-gradient(-45deg, #e1ff9b88, #ff950088, #ee775288, #e73c7e88);
    background-size: 250%;
    background-position: left;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.titlesTitle {
    text-align: center;
    background: linear-gradient(-45deg, #e1ff9b, #ff9500, #ee7752, #e73c7e);
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.outro {
    margin-top: 15px;
}

.hidings .intro span {
    font-weight: bold;
    font-size: 1.2em;
    color: green;
}

.hidingsTitles .shimmering, .introBox .shimmering {
    background: linear-gradient(-45deg, #e1ff9b, #ff9500, #ee7752, #e73c7e);
    background-size: 250%;
    background-position: left;
}

@media (max-width: 992px) {
    .container {
        margin: 30px auto;
        width: 80%;
    }
}
@media (max-width: 768px) {
    body {
        background-color: #ccc;
        background-image: url("edgar\ portfol2.png");
        background-size: cover;
        font-size: 1em;
    }
    .container {
        margin: 20px auto;
        width: 90%;
    }
    .tops {
        background: linear-gradient(-45deg, #e1ff9b88, #ff950088, #ee775288, #e73c7e88);
    }
    .contacts a {
        padding: 3px;
        margin: 3px;
    }
    .hidings, .hidingsTitles {
        width: 100%;
    }
    .flips >div {
        float: none;
    }
    .introBox {
        display: none;
    }
}

@media (min-width: 769px) {
    #outro, #prm, #merchhub, #sleekrep {
        display: none !important;
    }
}
